<h1>所有樂曲列表</h1>

<p>
    <button class="btn btn-success" routerLink="create">新增歌曲資訊</button>
</p>
<table class="table align-middle">
    <thead>
        <tr>
            <th>
                樂曲名稱
            </th>
            <th>
                樂曲創作者
            </th>
            <th>
                收錄專輯
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (item of gaSongList; track $index)
{
        <tr>
            <td>
                {{ item.songName }}
            </td>
            <td>
                {{ item.relatedArtistsString }}
            </td>
            <td>
                {{ item.relatedAlbum.albumName }}
            </td>
            <td class="   gap-2">
                <button class="btn btn-secondary">編輯</button>
                <button class="btn btn-danger" (click)="songDelete(item.id)">刪除</button>
            </td>
        </tr>
}
    </tbody>
</table>
