
<h2>輸入新曲資訊</h2>

<hr />
<div class="row">
    <div class="col-12 col-md-6">
        <div>
            <div class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">樂曲名稱</label>
                <input class="form-control" [(ngModel)]="inputSongName"/>
                <span class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label class="control-label">樂曲創作者（使用 Shift/Ctrl 多選）</label>
                <div class="gap-2">
                  <select class="form-select flex-grow-1" multiple="multiple" [(ngModel)]="inputRelArtistIds">
@for (item of this.artistList; track item.id) {
                      <option [ngValue]="item.id">{{ item.artistName }}</option>
}
                      <!-- 超假資料 -->
                      <!--
                      <option value="">創作者1</option>
                      <option value="">創作者2</option>
                      -->
                      <!-- 超假資料end -->
                  </select>
                  <a target="_blank" class="btn btn-success flex-shrink-0">新增創作者</a>
                </div>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">收錄專輯（使用 Shift/Ctrl 多選）</label>
                <div class="gap-2">
                    <select class="form-select flex-grow-1" multiple="multiple" [(ngModel)]="inputRelAlbumIds">
@for (item of this.albumList; track item.id) {
                      <option [ngValue]="item.id">{{ item.albumName }}</option>
}
                      <!-- 超假資料 -->
                      <!--
                      <option value="">專輯1</option>
                      <option value="">專輯2</option>
                      -->
                      <!-- 超假資料end -->
                    </select>
                    <button target="_blank" class="btn btn-success flex-shrink-0">新增專輯</button>
                </div>
                <span class="text-danger"></span>
            </div>

            <div class="form-group my-2 d-flex gap-2">
                <button class="btn btn-primary" (click)="goAddGaSong()">新增歌曲</button>
                <button class="btn btn-secondary" routerLink="/gallery">回到列表</button>
            </div>
        </div>
    </div>
</div>
