<h1>創作者清單</h1>

<p>
    <a asp-action="Create" class="btn btn-success">新增創作者</a>
</p>

<table class="table align-middle">
    <thead>
        <tr>
            <th>創作者名稱</th>
            <th>創作者類型</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (item of this.artistList; track item.id) {
      <tr>
        <td>{{ item.artistName }}</td>
        <td>{{ item.artistType }}</td>
        <td class="d-flex gap-2">
            <button class="btn btn-secondary">編輯</button>
            <button class="btn btn-danger" (click)="artistDelete(item.id)">刪除</button>
        </td>
    </tr>
}
    </tbody>
</table>
