<h1>編輯創作者資訊</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">創作者名稱</label>
                <input class="form-control" [(ngModel)]="this.inputArtistName"/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">創作者類型</label>
                <input class="form-control" [(ngModel)]="this.inputArtistType"/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group mt-2 d-flex gap-2">
                <button class="btn btn-primary" (click)="goUpdateArtist()">更新</button>
                <button class="btn btn-secondary" routerLink="/artists">回到列表</button>
            </div>
          </div>
    </div>
</div>
