<h1>專輯清單</h1>

<p>
    <button type="button" class="btn btn-success">新增專輯</button>
</p>

<table class="table align-middle">
    <thead>
        <tr>
            <!-- Note: 研議抽出這些名稱放進共用變數的必要性 -->
            <th>專輯名稱</th>
            <th>發行日期</th>
            <th>專輯類型</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (item of albumList; track item.id)
{
        <tr>
            <td>{{ item.albumName }}</td>
            <td>{{ item.releaseDate }}</td>
            <td>{{ item.albumType }}</td>
            <td class="d-flex gap-2">
                <button type="button" class="btn btn-secondary">編輯</button>
                <button (click)="songDelete(item.id)" class="btn btn-danger">刪除</button>
            </td>
        </tr>
}
        <!-- 超假資料 -->
        <!-- <tr>
            <td>&#x8FF7;&#x8DE1;&#x6CE2;</td>
            <td>11/01/2023</td>
            <td>Album</td>
            <td class="d-flex gap-2">
                <button type="button" class="btn btn-secondary">編輯</button>
                <button class="btn btn-danger">刪除</button>
            </td>
        </tr>
        <tr>
            <td>Ave M&#xFA;sica</td>
            <td>06/17/2026</td>
            <td>Album</td>
            <td class="d-flex gap-2">
                <button type="button" class="btn btn-secondary">編輯</button>
                <button class="btn btn-danger">刪除</button>
            </td>
        </tr>
        <tr>
            <td>&#x6625;&#x65E5;&#x5F71;</td>
            <td>04/17/2024</td>
            <td>Single</td>
            <td class="d-flex gap-2">
                <button type="button" class="btn btn-secondary">編輯</button>
                <button class="btn btn-danger">刪除</button>
            </td>
        </tr>
        <tr>
            <td>&#x6625;&#x65E5;&#x5F71; (CRYCHIC ver.) - FROM THE First Take</td>
            <td>08/01/2026</td>
            <td>Album</td>
            <td class="d-flex gap-2">
                <button type="button" class="btn btn-secondary">編輯</button>
                <button class="btn btn-danger">刪除</button>
            </td>
        </tr> -->
        <!-- 假資料end -->
    </tbody>
</table>
